@model StacWebApp.Models.AppointmentModel; 

@{
    ViewData["Title"] = "Make Appointments";
}
<div id="Appointments" class="tabcontent">
    <div class="appointment-wrapper">

        <form>
            <label for="patientID">ID:</label>
            <input type="text" id="patientID" name="patientID">

            <label for="FirstName">First Name:</label>
            <input type="text" id="FirstName" name="FirstName">

            <label for="LastName">Last Name:</label>
            <input type="text" id="LastName" name="LastName">


            <label for="Email">Email</label>
            <input type="text" id="Email" name="Email" placeholder="abc@sample.com">

            <label for="ApptType">Appointment Type</label>
            <input type="text" id="ApptType" name="ApptType" placeholder="Type of appointment">


            <label for="Reason">Reason</label>
            <input type="text" id="Reason" name="Reason" placeholder="Reason..">


            <label for="Calendar">Date for Appointment:</label>
            <input type="date" id="Calendar" name="Calendar" placeholder="Pick a date..">

            <label for="Insurance">Insurance</label>
            <input type="text" id="Insurance" name="Insurance" placeholder="Your insurance number..">

            <input type="submit" value="Submit">
        </form>
    </div>
</div>
