@model StacWebApp.Models.ContactModel

@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ContactUs</h1>

<h4>ContactModel</h4>
<hr />

<form asp-action="Contact_Us">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="FName" class="control-label">First Name</label>
        <input asp-for="FName" class="form-control"/>
        <span asp-validation-for="FName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LName" class="control-label">Last Name</label>
        <input asp-for="LName" class="form-control"/>
        <span asp-validation-for="LName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="control-label">Phone Number</label>
        <input asp-for="Phone" class="form-control"/>
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContactDateTime" class="control-label">Date</label>
        <input asp-for="ContactDateTime" class="form-control"/>
        <span asp-validation-for="ContactDateTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Comments" class="control-label">Comments</label>
        <input asp-for="Comments" class="form-control"/>
        <span asp-validation-for="Comments" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
