@{
    ViewData["Title"] = "Home Page";
}

<div id="About" class="tabcontent">
    <h4 class="text-center">About STACK</h4>

    <h3>Home</h3>
    <p class="text-body">
        Stay together and connected
        Sign up. Schedule. Relax.
        We will provide excellent care to our members in the King County area with our dedicated team. Depending on your health needs and where you live we will provide a one way street to appointments.
    </p>
    <h3>About Us</h3>
    <p class="text-body">
        Connected for you
        We understand that it can be stressful making doctors appointments for all your medical needs.
        Here at Stac, we centralize all appointments. Our mission is to connect patients with their doctors in the easiest way possible. Become an organized patient with our services.

        *Patient information will only have to be submitted once and you are all set.
    </p>
    <h2>What we cover</h2>
    <ul>
        <li>Family Physician</li>
        <li>Eye Doctor (Ophthalmologist)</li>
        <li>Physical Therapy</li>
        <li>Dermatology</li>
    </ul>
    <h3>How it works</h3>
    <p class="text-body">
        Sign up - Become a member with us and we will match a doctor with you depending on your medical needs and where you live. You only need to input your information once for all appointments i.e.  insurance information, medical history, and personal information. Use this same account to schedule and more.

        Schedule - We will provide you with a list of locations in the King County area where you can choose from. All areas that we cover will be in each location for an easier commute on you. After you schedule we are in contact directly with the main offices of each location. We remind you of your appointment times and more.

        Relax - Leave it up to us to organize your appointments. It is our mission to relieve the hassle of juggling multiple office phone numbers, locations and doctors information.
    </p>

    <p>
        <em>Disclaimer: This website is made up for the purposes of education only. Addresses, names, phone numbers and credibility is fake. This shall not be used outside the permissions of UWT faculty and students.</em>
    </p>

</div>
