@model StacWebApp.Models.AppointmentModel

@{
    ViewData["Title"] = "AddAppointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h4>AppointmentModel</h4>
<hr />
        <form asp-action="AddAppointment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="patientID" class="control-label">ID:</label>
                <input asp-for="patientID" class="form-control" />
                <span asp-validation-for="patientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First Name:</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last Name:</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email:</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApptType" class="control-label">Type of Appointment:</label>
                <input asp-for="ApptType" class="form-control" />
                <span asp-validation-for="ApptType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label">Reason for the Appointment:</label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calendar" class="control-label">Schedule date for Appointment:</label>
                <input asp-for="Calendar" class="form-control" />
                <span asp-validation-for="Calendar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Insurance" class="control-label">Insurance Number:</label>
                <input asp-for="Insurance" class="form-control" />
                <span asp-validation-for="Insurance" class="text-danger"></span>
            </div>
            <!--
     <div class="form-group">
         <label asp-for="Location" class="control-label">Insurance Number:</label>
         <select asp-for="Location" class="form-control" />
         <span asp-validation-for="Insurance" class="text-danger"></span>
     </div>
     <div class="form-group">
         <label asp-for="Doctor" class="control-label">Doctor:</label>
         <select asp-for="Doctor" class="dropdown-menu" />
         <span asp-validation-for="Insurance" class="text-danger"></span>
     </div>-->
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
